@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Snippet.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Snippets Web API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                This API offers two services that support both snippet storage and achievements calculation. The first is the Snippet service. It is responsible for storing and serving customer snippets. It has endpoints which allow users to create a snippet, list snippets, share or unshare one of their snippets, and like or unlike another user's snippet. Snippets are simple plain text strings. The second service is the Achievement service. It is responsible for tracking the user's achievements. It has an endpoint that gets all achievements earned by a user and how many times each of those achievements has been earned.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
